@import url('./global.css');

body {
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-header ul li a {
    text-decoration: none;
    color: var(--color-gray1);
    font-family: var(--font-familly-alexandria);
    font-size: var(--font-size-text1);
}

.nav-header ul li .active {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-login {
    padding: 10px 24px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-familly-alexandria);
    font-size: var(--font-size-text1);
}

.btn-primary {
    text-decoration: none;
    padding: 10px 24px;
    background-color: var(--color-green);
    border-radius: 40px;
    color: #000;
    font-family: var(--font-familly-alexandria);
    font-size: var(--font-size-text1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    gap: 100px;
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-main span {
    display: flex;
    gap: 8px;
    align-self: self-start;
    padding: 10px 12px;
    border-radius: 24px;
    border: 1px solid var(--color-gray3);
    color: var(--color-green);
    font-size: var(--font-size-text2);
    font-family: var(--font-familly-alexandria);
}

h1 {
    width: 521px;
    color: var(--color-white);
    font-size: var(--font-size-title1);
    font-family: var(--font-familly-alexandria);
}


.content-main p {
    width: 583px;
    color: var(--color-gray1);
    font-family: var(--font-familly-inter);
    font-size: var(--font-size-subtitle);
}


.container-btn-main {
    display: flex;
    gap: 20px;
}

.btn-green {
    display: flex;
    gap: 6px;
    padding: 14px 24px;
    background-color: var(--color-green);
    border-radius: 40px;
    color: #000;
    text-decoration: none;
    font-family: var(--font-familly-alexandria);
}

.btn-secundary {
    display: flex;
    gap: 6px;
    padding: 14px 24px;
    border: 1px solid var(--color-gray3);
    border-radius: 40px;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-familly-alexandria);
}
.section-partners{
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
background-color: var(--color-gray4);
padding: 40px 0px;
}

.section-partners h2{
    color: var(--color-gray1);
    font-size: var(--font-size-text1);
    font-family: var(--font-familly-alexandria);
}

.container-images-partners{
display: flex;
gap: 50px;
}